html{
    box-sizing: border-box;
    word-break: normal;
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
}

body{
    text-align: center;
    font-family: "Montserrat",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
    margin: 0 auto;
}

.contact-form{
    padding: 70px 0;
}

.contact-form_lead{
    margin-bottom: 30px;
    font-size: 14px;
}

.l-inner{
    max-width: 950px;
    padding: 0 15px;
    color: black;
    font-size: 14px;
    margin: 0 auto;
    box-sizing: border-box;
}

.contact-form_body{
    padding: 90px;
    background-color: #F7F7F7;
    text-align: left;
}

.form_item{
    margin-bottom: 30px;
}

.form_title{
    font-weight: bold;
    margin-bottom: 5px;
}

.radio{
    margin:0 5px 0 0;
}

.form_radio{
    display: inline;
    margin-bottom: 5px;
    width:100%;
    margin-right: 35px;
}

.text{
    box-sizing: border-box;
    width: 300px;
    padding: 8px;
    border: solid 1px #aaa;
    border-radius: 5px;
    background-color: #fff;
    min-width: 300px;
    min-height: 45px;
}

textarea{
    min-width: 600px;
    min-height: 200px;
    padding: 8px;
    resize: both;
    border: solid 1px #aaa;
    border-radius: 5px;
    background-color: #fff;
    overflow: auto;
}

.necessary{
    margin-left: 10px;
    color: #391E88;
}

.form_note{
    margin-left: 5px;
    color: #333333;
    font-size: 12px;
}

.tel{
    padding: 8px;
    border: solid 1px #aaa;
    border-radius: 5px;
    background-color: #fff;
    min-height: 25px;
    min-width: 170px;
}

.form_select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    padding: 8px;
    border: solid 1px #aaa;
    border-radius: 5px;
    background-color: #fff;
}

.submit{
    text-align: center;
}

button{
    cursor: pointer;
    position: relative;
    font-weight: bold;
    line-height: 1.4;
    display: inline-block;
    width: 200px;
    padding: 20px 0;
    transition: .3s;
    text-align: center;
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
    background-size: 200% auto;
    font-size: 14px;
    font-size: 0.875rem;
    
}