.header{
    background-color: #21054D;
    position: fixed;
    z-index: 10;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    transition: all .3s;
    height: 1px;
}

.global-nav_list{
    display: flex;
    padding-left: 30px;
    margin-right: 50px;
    list-style: none;
}

.global-nav_list li{
    display: inline-block;
    margin: 0 5px;
} 

a{
    text-decoration:none;
    color: #fff;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.global-nav_list ::after {
    box-sizing: inherit;
    background-repeat: no-repeat;
}
.item {
  display: flex;
  text-decoration: blanchedalmond;
  width: 415.73px;
  margin: 0 auto;
  height: 100px;
}
.footer {
  background-color: #120e19;
  text-align: center;
  height: 200px;
}
.button {
  margin: auto;
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}
.logo {
  text-decoration: none;
  color: #a798b7;
  font-size: 10px;
}
.logoButton {
  height: 80px;
}
/* a */
/* © 2021 GitHub, Inc. */